<section class="affiliate-module affiliate-module--product-grid content-break" data-module="product-recommendation" aria-label="Sizing examples">
  <div class="affiliate-module__inner">
    <h3 class="affiliate-module__title">{{TITLE}}</h3>
    <p class="affiliate-module__subtext">{{SUBTEXT}}</p>
    <ul class="affiliate-module__grid" role="list">
      <li class="affiliate-module__item">{{PRODUCT_1}}</li>
      <li class="affiliate-module__item">{{PRODUCT_2}}</li>
      <li class="affiliate-module__item">{{PRODUCT_3}}</li>
      <li class="affiliate-module__item">{{PRODUCT_4}}</li>
    </ul>
  </div>
</section>
